<!-- 
James Knox
ST10048826
GROUP 3
-->
<!--
References:
   Bootstrap, n.d. CSS. [Online] Available at: https://getbootstrap.com/docs/3.4/css/#tables [Accessed 9 September 2024].
   OpenAI.2024.Chat-GPT (Version 3.5).[Large language model].Available at: https://chat.openai.com/ [Accessed: 8 September 2024]
-->

@{
    ViewData["Title"] = "Home";
}

@if (ViewBag.IsLoggedIn)
{
    <div style="text-align:center;">
        <h1>Welcome @ViewBag.UserName to the Contract Monthly Claim System</h1>
        <p class="home-message">This system simplifies the process for Lecturers to submit monthly claims, and for Programme Coordinators and Academic Managers to verify and approve them.</p>
    </div>

    @if (ViewBag.UserRole == "Lecturer")
    {
        <div class="row text-center" style="margin: 100px">
            <div class="col-md-6">
                <h2>Lecturer Dashboard</h2>
                <p>Submit new claims and track your claim status.</p>
                <p><a class="btn btn-primary btn-lg" style="background-color:#1588fc" href="/Claims/UserDashboard">Go to Lecturer Dashboard</a></p>
            </div>
             <div class="col-md-6">
                <h2>Manage Account</h2>
                <p>Logout or edit account settings.</p>
                <p><a class="btn btn-primary btn-lg" style="background-color:#1588fc" href="/UserAccount/AccountSettings">Go to Account Settings</a></p>
            </div>
        </div>
    }
    else
    {
        <div class="row text-center" style="margin: 100px">
            <div class="col-md-6">
                <h2>Academic Manager Dashboard</h2>
                <p>Review and verify claims submitted by lecturers.</p>
                <p><a class="btn btn-primary btn-lg" style="background-color:#1588fc" href="/Claims/AdminDashboard">Go to Admin Dashboard</a></p>
            </div>
            <div class="col-md-6">
                <h2>Manage Account</h2>
                <p>Logout or edit account settings.</p>
                <p><a class="btn btn-primary btn-lg" style="background-color:#1588fc" href="/UserAccount/AccountSettings">Go to Account Settings</a></p>
            </div>
        </div>
    }
}
else
{
    <div style="text-align:center;">
        <h1>Welcome to the Contract Monthly Claim System</h1>
        <p class="home-message">This system simplifies the process for Lecturers to submit monthly claims, and for Programme Coordinators and Academic Managers to verify and approve them.</p>
    </div>

    <div style="text-align:center">
        <h3 style="margin-top: 40px">Please login to submit / approve claims</h3>
        <a class="btn btn-primary btn-lg" style="margin-top: 20px;background-color:#1588fc; width:120px" href="/UserAccount/Register" role="button">Register</a>
        <a class="btn btn-primary btn-lg" style="margin-top: 20px;background-color:#1588fc; width:120px" href="/UserAccount/Login" role="button">Login</a>
    </div>
}
