<!--
James Knox
ST10048826
GROUP 3
-->
<!--
References:
   Bootstrap, n.d. CSS. [Online] Available at: https://getbootstrap.com/docs/3.4/css/#tables [Accessed 9 September 2024].
   OpenAI.2024.Chat-GPT (Version 3.5).[Large language model].Available at: https://chat.openai.com/ [Accessed: 8 September 2024]
-->
@model Contract_Monthly_Claim_System.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<div style="text-align:center;">
    <h1>Enter login details below</h1>
</div>

<div class="row text-center" style="margin: 50px">
    <div class="col-md-12">

        <h2>Login</h2>
        <form asp-action="Login" method="post" class="account-form">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" style="text-align: center;background-color: #f8d7da; color: #721c24; display:flex; flex-direction: column;  padding: 15px;  align-items:center; border-radius: 4px;" role="alert">
                    <strong>Login failed:</strong>
                    <ul class="mb-0" style="background-color: #f8d7da;margin: 0;list-style: none; text-align:center">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li style="color: #721c24;">@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            }

            <input type="email" name="Email" placeholder="example@gmail.com" required class="form-control mb-3">
            <input type="password" name="Password" placeholder="Password" required class="form-control mb-3">
            <button type="submit" class="btn btn-primary" style="background-color:#1588fc">Login</button>
        </form>

    </div>
</div>