@{
    ViewData["Title"] = "Login";
}

<div style="text-align:center;">
    <h1>Please login or create an account to make use of our services</h1>
</div>

<div class="row text-center" style="margin: 100px">
    <div class="col-md-6">
        <h2>Create new account</h2>
    </div>
    <div class="col-md-6">
        <h2>Login</h2>
    </div>
</div>