<!--
James Knox
ST10048826
GROUP 3
-->
<!--
References:
   Bootstrap, n.d. CSS. [Online] Available at: https://getbootstrap.com/docs/3.4/css/#tables [Accessed 9 September 2024].
   OpenAI.2024.Chat-GPT (Version 3.5).[Large language model].Available at: https://chat.openai.com/ [Accessed: 8 September 2024]
-->

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div style="text-align:center;">
    <h1>Programme Coordinator / Academic Manager dashboard </h1>
    <p class="home-message">Use this dashboard to review and approve claims submitted by lecturers.</p>
</div>

<div class="row text-center" style="margin: 100px">
    <div class="col-md-12">
        <h2>Claims pending review and approval</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Lecturer name</th>
                    <th>Module code</th>
                    <th>Month</th>
                    <th>Claim amount</th>
                    <th>Supporting document</th>
                    <th>Claim status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>002</td>
                    <td>James Knox</td>
                    <td>PROG6212</td>
                    <td>September</td>
                    <td>R11 700</td>
                    <td>Timesheet.pdf</td>
                    <td>Pending review</td>
                    <td><a class="btn btn-primary btn-sml" style="background-color:#1588fc">Approve</a></td>
                    <td><a class="btn btn-primary btn-sml" style="background-color:red;border: red;">Reject</a></td>
                </tr>   
                <tr>
                    <td>003</td>
                    <td>James Knox</td>
                    <td>CLDV6212</td>
                    <td>August</td>
                    <td>R9800</td>
                    <td>Timesheet.pdf</td>
                    <td>Pending review</td>
                    <td><a class="btn btn-primary btn-sml" style="background-color:#1588fc">Approve</a></td>
                    <td><a class="btn btn-primary btn-sml" style="background-color:red; border: red;">Reject</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" style="margin-top: 60px">
        <h2>Approved claims</h2>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Lecturer name</th>
                    <th>Module code</th>
                    <th>Month</th>
                    <th>Claim amount</th>
                    <th>Supporting document</th>
                    <th>Claim status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>James Knox</td>
                    <td>PROG6212</td>
                    <td>August</td>
                    <td>R10 500</td>
                    <td>Timesheet.pdf</td>
                    <td>Approved</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>