@{
    ViewData["Title"] = "Admin Dashboard";
}

<div style="text-align:center;">
    <h1>Programme Coordinator / Academic Manager dashboard </h1>
    <p class="home-message">Use this dashboard to review and approve claims submitted by lecturers.</p>
</div>

<div class="row text-center" style="margin: 100px">
    <div class="col-md-6">
        <h2>Claims pending review and approval</h2>
    </div>
    <div class="col-md-6">
        <h2>Approved claims</h2>
    </div>
</div>