@{
    ViewData["Title"] = "User Dashboard";
}

<div style="text-align:center;">
    <h1>Lecturer dashboard </h1>
    <p class="home-message">Submit new claims and upload supporting documents as well as view and track your current claims.</p>
</div>

<div class="row text-center" style="margin: 100px">
    <div class="col-md-6">
        <h2>Submit new claim</h2>
    </div>
    <div class="col-md-6">
        <h2>Track current claims</h2>
    </div>
</div>