ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: springgreen;
}

li {
    float: left;
}

    li a {
        font-family: Gadugi;
        font-size: 20px;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }


        li a:hover {
            background-color: white;
            color: springgreen;
        }

.navbar {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-top: 30px
}

.home-message {
    text-align: center;
    margin-top: 20px;
}