/*
James Knox
ST10048826
GROUP 3

References:

    Bootstrap, n.d. CSS. [Online] Available at: https://getbootstrap.com/docs/3.4/css/#tables [Accessed 9 September 2024].

    OpenAI.2024.Chat-GPT (Version 3.5).[Large language model].Available at: https://chat.openai.com/ [Accessed: 8 September 2024]
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #415256;
    display: flex;
}

li {
    margin-left: 16px;
}

    li a {
        font-family: Gadugi;
        font-size: 20px;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }


        li a:hover {
            background-color: white;
            color: dimgray;
            border-radius: 8px;
        }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #415256;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 30px
}

.home-message {
    text-align: center;
    margin-top: 20px;
}

nav {
    display: flex;
    align-items: center;
    background-color: #415256;
    padding: 10px 16px;
}

    nav h2 {
        margin: 0;
        color: #1588fc;
        font-family: Gadugi, sans-serif;
        font-size: 24px;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        flex-grow: 1;
    }

        nav ul li {
            margin-left: 16px;
        }

            nav ul li a {
                font-family: Gadugi, sans-serif;
                font-size: 20px;
                color: white;
                text-decoration: none;
                padding: 10px 16px;
            }

                nav ul li a:hover {
                    background-color: white;
                    color: dimgray;
                    border-radius: 12px;
                }

    nav .nav-item.dropdown {
        margin-left: auto; 
    }

.account-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 75%;
    border: 1px black solid;
    margin-top: 30px;
}

.nav-link.dropdown-toggle:hover {
    background-color: white;
    color: dimgray;
    border-radius: 12px;
}

.nav-link.dropdown-toggle {
    color: white;
    border-radius: 12px;
}

dropdown-item {
    color: dimgray; /* Text color for dropdown items */
    background-color: white; /* Set background color */
}

/* Remove hover effect for dropdown items */
.dropdown-item:hover {
    background-color: white; /* No change on hover */
    color: dimgray; /* No change on hover */
}
