ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #415256;
    display: flex;
}

li {
    margin-left: 16px;
}

    li a {
        font-family: Gadugi;
        font-size: 20px;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }


        li a:hover {
            background-color: white;
            color: dimgray;
        }

.navbar {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: #415256;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 30px
}

.home-message {
    text-align: center;
    margin-top: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #415256; 
    padding: 10px 16px; 
}
    nav h2 {
        margin: 0; 
        color: #1588fc; 
        font-family: Gadugi, sans-serif; 
        font-size: 24px; 
    }

    nav ul {
        display: flex; 
        list-style: none; 
        margin: 0; 
        padding: 0; 
    }

        nav ul li {
            margin-left: 16px;
        }

            nav ul li a {
                font-family: Gadugi, sans-serif; 
                font-size: 20px; 
                color: white; 
                text-decoration: none; 
                padding: 10px 16px; 
            }

            nav ul li a:hover {
            background-color: white;
            color: dimgray;
            }

.account-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 0 auto; 
    padding: 20px;
    border-radius: 5px;
}